@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9842 0.0034 247.8575);
  --foreground: oklch(0.2077 0.0398 265.7549);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2077 0.0398 265.7549);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2077 0.0398 265.7549);
  --primary: oklch(0.5461 0.2152 262.8809);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9683 0.0069 247.8956);
  --secondary-foreground: oklch(0.2077 0.0398 265.7549);
  --muted: oklch(0.9276 0.0058 264.5313);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.8798 0.0589 275.6267);
  --accent-foreground: oklch(0.2077 0.0398 265.7549);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(1 0 0);
  --ring: oklch(0.5461 0.2152 262.8809);
  --chart-1: oklch(0.5461 0.2152 262.8809);
  --chart-2: oklch(0.7227 0.192 149.5793);
  --chart-3: oklch(0.7686 0.1647 70.0804);
  --chart-4: oklch(0.6368 0.2078 25.3313);
  --chart-5: oklch(0.6056 0.2189 292.7172);
  --sidebar: oklch(0.9683 0.0069 247.8956);
  --sidebar-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-primary: oklch(0.5461 0.2152 262.8809);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9319 0.0316 255.5855);
  --sidebar-accent-foreground: oklch(0.5461 0.2152 262.8809);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.5461 0.2152 262.8809);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.75rem;
  --shadow-x: -1px;
  --shadow-y: 1px;
  --shadow-blur: 6px;
  --shadow-spread: -0.5px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: -1px 1px 6px -0.5px hsl(0 0% 0% / 0.05);
  --shadow-xs: -1px 1px 6px -0.5px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 1px 2px -1.5px hsl(0 0% 0% / 0.1);
  --shadow:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 1px 2px -1.5px hsl(0 0% 0% / 0.1);
  --shadow-md:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 2px 4px -1.5px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 4px 6px -1.5px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 8px 10px -1.5px hsl(0 0% 0% / 0.1);
  --shadow-2xl: -1px 1px 6px -0.5px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1831 0.0309 263.3831);
  --foreground: oklch(0.9276 0.0058 264.5313);
  --card: oklch(0.1671 0.0355 244.796);
  --card-foreground: oklch(0.9276 0.0058 264.5313);
  --popover: oklch(0.2077 0.0398 265.7549);
  --popover-foreground: oklch(0.9276 0.0058 264.5313);
  --primary: oklch(0.7137 0.1434 254.624);
  --primary-foreground: oklch(0.2077 0.0398 265.7549);
  --secondary: oklch(0.2795 0.0368 260.031);
  --secondary-foreground: oklch(0.9276 0.0058 264.5313);
  --muted: oklch(0.313 0.0376 254.9977);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.7535 0.139 232.6615);
  --accent-foreground: oklch(0.2077 0.0398 265.7549);
  --destructive: oklch(0.5054 0.1905 27.5181);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.1623 0.0431 261.0388);
  --input: oklch(0.3717 0.0392 257.287);
  --ring: oklch(0.7137 0.1434 254.624);
  --chart-1: oklch(0.7137 0.1434 254.624);
  --chart-2: oklch(0.8003 0.1821 151.711);
  --chart-3: oklch(0.8369 0.1644 84.4286);
  --chart-4: oklch(0.7106 0.1661 22.2162);
  --chart-5: oklch(0.709 0.1592 293.5412);
  --sidebar: oklch(0.2077 0.0398 265.7549);
  --sidebar-foreground: oklch(0.9276 0.0058 264.5313);
  --sidebar-primary: oklch(0.3791 0.1378 265.5222);
  --sidebar-primary-foreground: oklch(0.7137 0.1434 254.624);
  --sidebar-accent: oklch(0.2795 0.0368 260.031);
  --sidebar-accent-foreground: oklch(0.7137 0.1434 254.624);
  --sidebar-border: oklch(0.3717 0.0392 257.287);
  --sidebar-ring: oklch(0.7137 0.1434 254.624);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.75rem;
  --shadow-x: -1px;
  --shadow-y: 1px;
  --shadow-blur: 6px;
  --shadow-spread: -0.5px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: -1px 1px 6px -0.5px hsl(0 0% 0% / 0.05);
  --shadow-xs: -1px 1px 6px -0.5px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 1px 2px -1.5px hsl(0 0% 0% / 0.1);
  --shadow:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 1px 2px -1.5px hsl(0 0% 0% / 0.1);
  --shadow-md:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 2px 4px -1.5px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 4px 6px -1.5px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    -1px 1px 6px -0.5px hsl(0 0% 0% / 0.1),
    -1px 8px 10px -1.5px hsl(0 0% 0% / 0.1);
  --shadow-2xl: -1px 1px 6px -0.5px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
    @apply font-sans;
  }
}
